[submodule "Libraries/WamWooWam.Core"]
	path = Libraries/WamWooWam.Core
	url = https://github.com/UnicordDev/WamWooWam.Core.git
[submodule "Libraries/WindowsCommunityToolkit"]
	path = Libraries/WindowsCommunityToolkit
	url = https://github.com/UnicordDev/WindowsCommunityToolkit.git
[submodule "Libraries/DSharpPlus"]
	path = Libraries/DSharpPlus
	url = https://github.com/Luisinhi010/DSharpPlus-Unicord.git
